.anchor-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.admin-login-link {
  font-size: 0.6em;
  color: #333;
}
