:root {
  --blue: #29339b;
  --yellow: #fefe3b;
}

html,
body {
  height: 100%;
}

html {
  background: #eeeeee;
  color: black;
  font-family: 'PT Mono', monospace;
  font-size: 20px;
}

body {
  margin: 0;
}

main {
  background: var(--yellow);
  padding: 1em;
  width: 80vw;
  min-height: 300px;

  position: relative;
}

h1 {
  font-weight: normal;
}

a {
  color: black;
  font-family: inherit;

  &:hover {
    color: var(--blue);
  }
}

.button,
button {
  border: 1px black solid;
  font-family: inherit;
  font-size: inherit;
  margin: 1em 0;
  background: transparent;
  color: black;

  cursor: pointer;

  box-shadow: 1px 1px 0 0 black;

  &:hover {
    box-shadow: 0 0 0 0 black;
  }
}

.button--big {
  border-width: 2px;
  padding: 0.6em 1.2em;
  box-shadow: 6px 5px 0 0 black;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;

  &:hover {
    box-shadow: 1px 1px 0 0 black;
  }
}

.maps-grid {
  display: flex;
  flex-direction: row;
  > * {
    padding: 1em;
    border: 0px dashed black;
    border-right-width: 1px;
    &:last-child {
      border-right-width: 0px;
    }
  }
}

.footer {
  position: absolute;
  left: 0;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
