:root {
  --blue: #29339b;
  --yellow: #fefe3b;
}

html,
body {
  height: 100%;
}

html {
  background: #eeeeee;
  color: black;
  font-family: 'PT Mono', monospace;
  font-size: 20px;
}

body {
  margin: 0;
}

.button {
  border: 1px black solid;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  color: black;

  cursor: pointer;

  box-shadow: 1px 1px 0 0 black;

  &:hover {
    box-shadow: 0 0 0 0 black;
  }
}

.button--big {
  display: block;
  border-width: 2px;
  padding: 0.6em 1.2em;
  box-shadow: 6px 5px 0 0 black;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;

  height: 1em;
  box-sizing: content-box;

  &:hover {
    transform: translateY(2px);
    box-shadow: 1px 1px 0 0 black;
  }
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
